In [1]:
import pandas as pd

In [ ]:
# df = pd.DataFrame(
#        {"Ticker": "AUD_CHF", "Dealer Longs": 4, 
#         "Dealer Shorts": 0.25, "Net Dealers": 0.5,
#         "Total Net": 0.98, "Willco 126":0.851, "Willco 252": 845,
#        "Dealers Longs vs O.I": 642, "Dealers Net vs O.I": 0.514, "D.OI Yearly Stock":546, 
#         "Entry":"23.05.2023", "Risk/pips": 100, "Exit": "28.04.2023", "Return":126, "Days in Trade":2},
#        {"Ticker": "CHF_JPY", "Dealer Longs": 5, 
#         "Dealer Shorts": 0.85, "Net Dealers": 0.5, 
#         "Total Net": 0.98, "Willco 126":0.851, "Willco 252": 845,
#        "Dealers Longs vs O.I": 642, "Dealers Net vs O.I": 0.514,  "D.OI Yearly Stock":546},
#    ])

In [11]:
df.to_csv(r"D:\Lab\container\trader_lab\Dashbord\file.csv")

In [32]:
df = pd.read_csv("file.csv")
#df.drop(columns = ["Unnamed: 0.2","Unnamed: 0.1", "Unnamed: 0"], inplace =True)

In [33]:
df

,Unnamed: 0,Ticker,Dealer Longs,Dealer Shorts,Net Dealers,Total Net,Willco 126,Willco 252,Dealers Longs vs O.I,Dealers Net vs O.I,D.OI Yearly Stock,Entry,Risk/pips,Exit,Return,Days in Trade,Goal in Pips,$ in Risk
0,0.0,AUD_CHF,44000.0,10000.0,44000.0,15000.0,500.0,450.0,0.0,10.0,80.0,1.0,43.0,0.0,299.0,1.0,0.0,183.0
1,1.0,AUD_JPY,15000.0,-17500.0,35000.0,12000.0,430.0,410.0,10.0,18.0,60.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0
2,2.0,GBP_CHF,45000.0,58000.0,-18000.0,-4000.0,0.0,0.0,-10.0,-25.0,0.0,-1.0,NaN,NaN,NaN,NaN,0.0,0.0
3,3.0,GBP_CAD,8000.0,55000.0,-50000.0,-5000.0,-300.0,-400.0,-10.0,-30.0,-70.0,-1.0,42.0,NaN,NaN,NaN,73.0,62.0
4,4.0,CHF_JPY,-30000.0,-18000.0,-12000.0,-5000.0,0.0,0.0,10.0,10.0,-18.0,-1.0,NaN,NaN,NaN,NaN,0.0,0.0
5,5.0,NZD_CHF,-2500.0,-2200.0,0.0,1500.0,150.0,80.0,0.0,5.0,35.0,1.0,81.0,NaN,NaN,NaN,177.0,182.0
6,6.0,GBP_JPY,10000.0,40000.0,-30000.0,-7500.0,-100.0,-80.0,-2.0,-13.0,-20.0,-1.0,46.0,NaN,-173.0,1.0,908.0,170.0
7,7.0,GBP_JPY,10000.0,40000.0,-30000.0,-7500.0,-100.0,-80.0,-2.0,-13.0,-20.0,-1.0,272.0,NaN,227.0,1.0,766.0,280.0
8,8.0,AUD_CHF,44000.0,10000.0,44000.0,15000.0,500.0,450.0,0.0,10.0,80.0,1.0,90.0,NaN,NaN,NaN,NaN,270.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.to_csv(r"D:\Lab\container\trader_lab\Dashbord\file.csv")

In [66]:
num_rows = 1

journal = pd.DataFrame( columns=[ "Date",
                                                         'Ticker',
                                                         'Position', 
                                                         "Lot Size", 
                                                         "Steps Completed", 
                                                         "Pips Risked in Step",
                                                          "Dealer Longs",
                                                          "Dealer Shorts",
                                                           "Net Dealer", 
                                                           "Total Net",
                                                           "Wilco 126",
#                                                           "Wilco 252",
#                                                           "Dealers Longs vs OI",
#                                                           "Dealers Net vs OI",
#                                                           "D.OI Yearly Stock",
                                                           ])
# Create a DataFrame with columns 'Date', 'Ticker', and 'Position'

# Convert 'Ticker' and 'Position' columns to strings
journal['Ticker'] = journal['Ticker'].astype(str)
journal['Position'] = journal['Position'].astype(str)
journal['Date'] = journal['Date'].astype(str)
# Convert 'Date' column to date
#df['Date'] = val_date #pd.to_datetime(df['Date'])

# Add additional columns
journal['Lot Size'] = np.nan
journal['Steps Completed'] = np.nan
journal['Pips Risked in Step'] = np.nan
journal[[ "Dealer Longs",
              "Dealer Shorts",
               "Net Dealer", 
               "Total Net",
               "Wilco 126",
#               "Wilco 252",
#               "Dealers Longs vs OI",
#               "Dealers Net vs OI",
#               "D.OI Yearly Stock",
    ]] = np.nan

# Reorder columns
journal = journal[[ "Date",
             'Ticker',
             'Position', 
             "Lot Size", 
             "Steps Completed", 
             "Pips Risked in Step",
              "Dealer Longs",
              "Dealer Shorts",
               "Net Dealer", 
               "Total Net",
               "Wilco 126",
#               "Wilco 252",
#               "Dealers Longs vs OI",
#               "Dealers Net vs OI",
#               "D.OI Yearly Stock",
          ]]

journal.to_csv(r"D:\Lab\container\trader_lab\Dashbord\journal.csv")

journal

Empty DataFrame
Columns: [Date, Ticker, Position, Lot Size, Steps Completed, Pips Risked in Step, Dealer Longs, Dealer Shorts, Net Dealer, Total Net, Wilco 126]
Index: []

In [67]:


watchlist = pd.DataFrame( columns=[ "Date",
                                                         'Ticker',
                                   "Ind 1", "Ind 2", "Ind 3",
                                                         'Position', 
                                                         "Lot Size", 
                                                         "Steps Completed", 
                                                         "Pips Risked in Step",
                                                          "Dealer Longs",
                                                          "Dealer Shorts",
                                                           "Net Dealer", 
                                                           "Total Net",
                                                           "Wilco 126",
#                                                           "Wilco 252",
#                                                           "Dealers Longs vs OI",
#                                                           "Dealers Net vs OI",
#                                                           "D.OI Yearly Stock",
                                                           ])


watchlist['Ticker'] = watchlist['Ticker'].astype(str)
watchlist['Position'] = watchlist['Position'].astype(str)
watchlist['Date'] = watchlist['Date'].astype(str)
watchlist['Ind 1'] = watchlist['Ind 1'].astype(str)
watchlist['Ind 2'] = watchlist['Ind 2'].astype(str)
watchlist['Ind 3'] = watchlist['Ind 3'].astype(str)
# Convert 'Date' column to date
#df['Date'] = val_date #pd.to_datetime(df['Date'])

# Add additional columns
watchlist['Lot Size'] = np.nan
watchlist['Steps Completed'] = np.nan
watchlist['Pips Risked in Step'] = np.nan
watchlist[[ "Dealer Longs",
              "Dealer Shorts",
               "Net Dealer", 
               "Total Net",
               "Wilco 126",
#               "Wilco 252",
#               "Dealers Longs vs OI",
#               "Dealers Net vs OI",
#               "D.OI Yearly Stock",
    ]] = np.nan

# Reorder columns
watchlist = watchlist[[ "Date",
             'Ticker',
             'Position', 
             "Lot Size", 
             "Steps Completed", 
             "Pips Risked in Step",
              "Dealer Longs",
              "Dealer Shorts",
               "Net Dealer", 
               "Total Net",
               "Wilco 126",
#               "Wilco 252",
#               "Dealers Longs vs OI",
#               "Dealers Net vs OI",
#               "D.OI Yearly Stock",
          ]]

watchlist.to_csv(r"D:\Lab\container\trader_lab\Dashbord\watchlist.csv")



watchlist

Empty DataFrame
Columns: [Date, Ticker, Position, Lot Size, Steps Completed, Pips Risked in Step, Dealer Longs, Dealer Shorts, Net Dealer, Total Net, Wilco 126]
Index: []

In [75]:
import oandapyV20
import oandapyV20.endpoints.pricing as pricing
import configparser
import matplotlib.pyplot as plt

In [3]:
account_id = "101-004-13294318-001"
access_token = "3cbd242debf7724cce53739ea232791f-c8931587fbbd32508f948efae97282d6"
account_type = "practice"

In [9]:

import plotly.graph_objs as go
import plotly.subplots as sp
import oandapyV20
import oandapyV20.endpoints.pricing as pricing
from oandapyV20.exceptions import V20Error

# Replace with your own Oanda API key and account ID
api_key = access_token# "YOUR_API_KEY"
account_id =account_id# "YOUR_ACCOUNT_ID"

# Define the currency pair to stream
instrument = "EUR_USD"

# Create a connection to the Oanda server
api = oandapyV20.API(access_token=api_key)

# Create a Plotly figure
# fig = sp.make_subplots(rows=1, cols=1)
# trace = go.Scatter(x=[], y=[], mode="lines", name=instrument)
# fig.add_trace(trace)

# def update(response):
#     try:
#         # Extract the bid and ask prices from the streaming data
#         bid = float(response["bids"][0]["price"])
#         ask = float(response["asks"][0]["price"])
#         mid = (bid + ask) / 2

#         # Update the plot with the new data point
#         fig.data[0].x = list(fig.data[0].x) + [response["time"]]
#         fig.data[0].y = list(fig.data[0].y) + [mid]
#         fig.update_layout(title=f"{instrument} ({mid:.5f})")

#     except (KeyError, ValueError):
#         pass

# Subscribe to the streaming endpoint for the currency pair
params = {"instruments": instrument}
r = pricing.PricingStream(accountID=account_id, params=params)
try:
    for response in api.request(r):
        update(response)
except V20Error as e:
    print(f"Error: {e}")

In [10]:
from datetime import date

today = date.today()
today

datetime.date(2023, 5, 4)

In [13]:

import pandas as pd

In [14]:
 forex_4h = pd.read_hdf("main_4h.h5", key='oanda_4' )

In [16]:
forex_4h

                             Seasonal 30MA  Alpha 52V.1  Alpha 66V.1
ticker  date
AUD_CHF 2015-06-07 21:00:00       1.002776          NaN          NaN  \
        2015-06-08 01:00:00       1.002747          NaN          NaN
        2015-06-08 05:00:00       1.002797          NaN          NaN
        2015-06-08 09:00:00       1.002721          NaN          NaN
        2015-06-08 13:00:00       1.001906          NaN          NaN
...                                    ...          ...          ...
NZD_JPY 2023-05-03 05:00:00       1.002476    -0.100407    -1.574042
        2023-05-03 09:00:00       1.002631    -0.088741    -1.528544
        2023-05-03 13:00:00       1.002779    -0.077471    -1.477683
        2023-05-03 17:00:00       1.002491    -0.058370    -1.407338
        2023-05-03 21:00:00       1.003064    -0.043095    -1.326119

                             Alpha 39V.1  Alpha 31V.1     close
ticker  date
AUD_CHF 2015-06-07 21:00:00          NaN          NaN   0.71691
        2015-06-08 01:00:00          NaN          NaN   0.71644
        2015-06-08 05:00:00          NaN          NaN   0.71772
        2015-06-08 09:00:00          NaN          NaN   0.71640
        2015-06-08 13:00:00          NaN          NaN   0.71332
...                                  ...          ...       ...
NZD_JPY 2023-05-03 05:00:00    -1.174199     1.361016  84.57900
        2023-05-03 09:00:00    -1.121840     1.388847  84.21800
        2023-05-03 13:00:00    -1.073769     1.421785  84.51500
        2023-05-03 17:00:00    -1.031507     1.467288  83.94300
        2023-05-03 21:00:00    -0.983298     1.521787  83.68800

[135417 rows x 6 columns]

In [19]:
forex_4h = pd.read_hdf("main_4h.h5", key='oanda_4' )
start_date = "2015-06-08"
end_date = "2018-06-08"
start_date = pd.to_datetime(start_date, format="%Y-%m-%d")
end_date = pd.to_datetime(end_date, format="%Y-%m-%d")

# Create a Boolean mask based on dates in the dataframe
mask = (forex_4h.index.get_level_values(1) >= start_date) & (forex_4h.index.get_level_values(1) <= end_date)

# # Subset the dataframe using the mask
subset_forex_4h = forex_4h.loc[mask]

In [20]:
subset_forex_4h

                             Seasonal 30MA  Alpha 52V.1  Alpha 66V.1
ticker  date
AUD_CHF 2015-06-08 01:00:00       1.002747          NaN          NaN  \
        2015-06-08 05:00:00       1.002797          NaN          NaN
        2015-06-08 09:00:00       1.002721          NaN          NaN
        2015-06-08 13:00:00       1.001906          NaN          NaN
        2015-06-08 17:00:00       1.001923          NaN          NaN
...                                    ...          ...          ...
NZD_JPY 2018-06-07 05:00:00       0.998191    -0.030571    -1.485245
        2018-06-07 09:00:00       0.998221    -0.030947    -1.482737
        2018-06-07 13:00:00       0.998097    -0.028578    -1.476578
        2018-06-07 17:00:00       0.998074    -0.023543    -1.438987
        2018-06-07 21:00:00       0.998222    -0.021657    -1.379237

                             Alpha 39V.1  Alpha 31V.1     close
ticker  date
AUD_CHF 2015-06-08 01:00:00          NaN          NaN   0.71644
        2015-06-08 05:00:00          NaN          NaN   0.71772
        2015-06-08 09:00:00          NaN          NaN   0.71640
        2015-06-08 13:00:00          NaN          NaN   0.71332
        2015-06-08 17:00:00          NaN          NaN   0.71434
...                                  ...          ...       ...
NZD_JPY 2018-06-07 05:00:00    -1.163562     1.335534  77.47600
        2018-06-07 09:00:00    -1.158089     1.368878  77.56800
        2018-06-07 13:00:00    -1.096959     1.411660  77.14200
        2018-06-07 17:00:00    -1.036701     1.456741  77.10900
        2018-06-07 21:00:00    -0.974689     1.503201  77.15800

[51379 rows x 6 columns]